.instructionTabPanel {
  display: grid;
  grid-template-areas:
    'instruction sectionNav';
}

.instruction {
  grid-area: instruction;
}

.sectionNav {
  grid-area: sectionNav;
  padding-left: 0.5em;
}

.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  height: calc(100vh - 5rem); /* TODO: replace 5rem with footer height + site padding */
}